.sub_header_drpdwn{
    float: left;
    margin-right: 5px;
    position: relative;
    height: 35px;
    border-radius: $border-radius;
    background-color: $white-color;
    select{
        background: transparent;
        border: none;
        padding: 5px;
        font-size: 0.875rem;
        color: $white-color;
        height: 100%;
        border-radius: $border-radius;
        cursor: pointer;
        color: $font-color;
        option{
            color: $font-color;
        }
    }
    &.drpdwn_active{
        background:#515111;
        select{
            color: $white-color;
        }
    }
    
}
.nav_parnt_blk {
    position: relative;
    flex: 1;
    .nav.nav-pills, .nav-item{
        height: 100%;
    }
    .nav-link{
        height: 100%;
        font-size: 0.875rem;
        padding: 11px 12px;
        color: $font-color;
        &.active{
            background-color: #f8a32f;
            color: $font-color;
            border-radius: 0;
        }
    }
    .dropdown-item{        
        font-size: 0.875rem;
        padding: 7px 12px;
    }
    .dropdown-menu{
        border: none;
        padding: 0;
    }
    .dropdown-item.active, .dropdown-item:active {
        text-decoration: none;
        background-color: #e9ecef;
        color: $font-color;
    }
}

.item_prst_parnt{
    background-color: $white-color;
    border-radius: $border-radius;
    padding: 12px;
    margin-bottom: 10px;
    h4{
        font-size: 1rem;
        color: $font-color;
        margin-bottom: 0;
        position: relative;
        padding: 0 0 12px;
    }
    .generic_chckbx_blk.discnt_chckbx{
        // padding-top: 15px;
        margin-bottom: 10px;
        // height: 45px;        
        .chckbx_title{
            margin-bottom: 15px;
        }
        .chckbx_label{
            font-size: 0.875rem;
        }
        .chckbx_inr .chckbx_label{
            padding-left: 30px;
        }
        .chckbx_inr .chckbx_label::before{
            top: -3px;
        }
    }
}

.report_parnt_blk{
    background-color: var(--bs-white);
    padding: 7px;
    border-radius: 4px;
}

.report_parnt_blk h4{
    font-size: 1rem;
    color: var(--theme_background);
    margin-bottom: 5px;
    position: relative;
    /* width: 100%; */
    /* float: left; */
}
.report_parnt_blk .button_blk{
    padding-top: 0;
}

.popover{
    font-size: 0.7rem;
}
.clockpicker-popover .popover-title{
    font-size: 17px;
}
.radio_blk{
    padding: 0;
}

.report_date_picker, .report_clck_pckr{
    position: relative;
    z-index: 0;
}
.report_date_picker input, .report_clck_pckr input{
    width: 100%;
    border: none;
    border-bottom: 1px solid var(--border_color);
    cursor: pointer;
    background-color: transparent;
    font-size: 0.85rem;
}

.report_date_picker:before {
    position: absolute;
    content: '\f073';
    font-family: FontAwesome;
    font-size: 1rem;
    line-height: 1rem;
    right: 15px;
    bottom: 4px;
    z-index: -1;
    color: var(--theme_background);
}

.report_clck_pckr:before {
    position: absolute;
    content: '\f017';
    font-family: FontAwesome;
    font-size: 1rem;
    line-height: 1rem;
    right: 15px;
    top: 7px;
    z-index: -1;
    color: var(--theme_background);
}


.prview_blk{
    position: relative;
    width: 100%;
    height: 610px;
    z-index: 0; 
    margin-top: 5px;
    // display: flex;
}

#renderPreview{
    width: 100%;
    display: inline-block;
    height: 100%;   
    font-size: 0.85rem;
}

.stiJsViewerReportPanel{
    z-index: -1 !important;
    right: auto !important; 
    left: 0px !important;
    top: 50px !important;
    width: 100% !important;
    overflow: auto !important;
    border: 1px solid #808080 !important;
}

.stiJsViewerMainPanel {
  padding: 0 10px !important;
  font-size: 0.875rem;
}

.stiJsViewerMainPanel table{
  display: inline-block;
  width: 100% !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
//   overflow: auto;
}
.stiJsViewerMainPanel .stiJsViewerToolBarTable{
    overflow: auto;
}
.avl_grd.demo-container{
    overflow: auto;
}
.stiJsViewerPageShadow{
  width: 100% !important;
  margin: 0 !important;
  padding: 0 !important;
  height: 99% !important;
  border: none !important;
  & > div{
      width: 100% !important;
  }
}

.stiJsViewerParentMenu{
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 200px;
}

.ui-widget{
    font-size: 0.85rem;
}

.form-control[readonly] {
    background-color:var(--bs-white);
}

.read_only label, .read_only input{
    color: var(--read_only_color) !important;
}