//SOF Font variables
$main-font: 'Roboto', sans-serif;
$md_font_sz: 18px;

//SOF Color variables
$font-color: #000000;
$white-color: #ffffff;
$border-color: #d2d2d2;
$border-radius: 4px;
$header_divider_line: #665d5d;
$sub_header_color: #f0eeee;
$grn_tabl_clr: #89e794;
$yllw_tabl_clr: #FDE616;
$blu_tabl_clr: #98CDF0;
$ornge_tabl_clr: #F1BC59;
$red_tabl_clr: #E99696;

$brown_text_color: #6c5432;
$grid-header: #d8d8d9;
$theme-color: #4A4A4A;
$theme-font-color: #223577;
$grid-font-size: 0.875rem;
$light-theme-color: #fbfbfb;
$icon-color: #7c7373;
$grid-icon-color:#818181;
$nav-highlight: #ffffff;
$theme-color-blue: #135B8F;
$grid-header-blue: #d4e8f7;
$font-size: 0.875rem;
$validatn-color: #dc3545;
$tab-active-color: rgb(71, 70, 70);
$prmry-color: #4A4A4A;
$hover-color: #323232;
$title-color: #474646;


$lookup_color: #0D53BC;
$read_only: #7D314C;
$calender_border: #c5c5c5;
$calender_bg: #f0eeee;
// $action_btn_hgt : calc(100% - 587px);
//SOF Images variables
$sprite: "../../images/sprite.png";
$sprite_new: "../../images/sprite_new.png";
$tile_background: "../../images/tile_background.jpg";
$default_loader:"../../images/default.gif";
$spinner:"../../images/Spinner.gif";


